<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Bartłomiej Styczyński for Beside the Park">
    <meta name="description" content="This is an assignment for recruitment purposes.">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="css/style.css">
    <title>Beside the Park</title>
  </head>

  <body>
    <nav>
      <a href="index.html"><header>Beside the park</header></a>
      <ul id="navbar">
        <li class="button"><a href="index.html"><img src="img/web/Web_0000_Menu.png" alt="Search"></a></li>
        <li class="button"><a href="index.html"><img src="img/web/Web_0001_Search.png" alt="Menu"></a></li>
      </ul>
    </nav>

    <div id="front-summary">
      <div id="summary-container">
        <div>
          <h1>Lorem ipsum</h1>
          <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </div>
    </div>

    <main>

      <article id="lorem-ipsum">

        <div class="column">

          <section>
            <h2>Lorem ipsum</h2>
            <img src="img/web/Web_0007_iPhone.png" id="iphone">
          </section>

          <section>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
          </section>

          <section>
            <p>
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
            deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit
            voluptatem accusantium doloremque laudantium, totam rem aperiam.
            </p>
          </section>

          <section>
            <p>
            Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
            explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
            sed quia consequuntur magni dolores eos qui ratione voluptatem.
            </p>
          </section>

        </div>

        <div class="column" id="column2">

          <section>
            <p>
          Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
          consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
            </p>
          </section>

          <section>
            <p>
          Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
          velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam
          aliquam quaerat voluptatem.
            </p>
          </section>

        </div>

      </article>

      <div id="boxes">

        <section>
          <div class="boxtext">
            <h3>Built to last</h3>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua.
            </p>
          </div>

          <p class="boxlink"><a href="index.html">Find Out more</a></p>

        </section>

        <section>
          <div class="boxtext">
            <h3>Our Clients</h3>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            </p>
          </div>

          <p class="boxlink"><a href="index.html">Get insights</a></p>
        </section>

        <section>
          <div class="boxtext">
            <h3>Sign up &amp; see why</h3>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua.
            </p>
          </div>

          <p class="boxlink"><a href="index.html">Get Started Now</a></p>
        </section>

        <section>
          <div class="boxtext">
            <h3>Perfect pictures</h3>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            </p>
          </div>

          <p class="boxlink"><a href="index.html">Find Out more</a></p>
        </section>

      </div>

    </main>

  </body>
</html>
