/* REMOVE MARGIN AND PADDING FROM ALL ELEMENTS */
* {
  margin: 0;
  padding: 0;
}

/* HTML */
html {
  font-family: Tahoma,Helvetica,Verdana,sans-serif;
  line-height: 2;
  font-size: 14px;
  font-size: 1vw;
  margin-bottom: 10vw;
}

/* StANDARD p MARGIN */
p {
  margin: 1em 0;
}

/* NAVIGATION BAR */
nav {
  background-image: url("../img/web/Web_0002_top-bar.png");
  position: fixed;
  top: 0;
  width: 100%;
  height: 15vw;
  max-height: 100px;
  z-index: 1;
}

#c-navbar-list {
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  list-style-type: none;
}

.c-navbar-list__button {
  margin-right: 6vw;
}

#c-navbar-list__button--menu {
  height: 2.2vw;
  max-height: 22px;
}

#c-navbar-list__button--search {
  height: 3.8vw;
  max-height: 38px;
}

header {
  font-weight: bold;
  color: #9ACD32;
  font-size: 2.2em;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  display: inline;
  position: absolute;
}


/* MAIN (FIRST PARAGRAPH, COLUMNS, IPHONE, BOXES) */
main, #js-summary__text-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* First paragraph background (forrest) */
#js-summary {
  color: #f2f2f2;
  background-image: url("../img/web/Web_0008_Layer-5.png");
  background-color: #9ACD32;
  background-position: center;
  background-size: 100% 100%;
  width: 100%;
  height: 52vw;
  border-bottom: 3px solid #9ACD32;
  display: flex;
  align-items: center;
}

/* First paragraph container */
#js-summary__text-container div {
  width: 41.66666666666667%;
  max-width: 500px;
}

/* First paragraph header */
h1 {
  font-size: 2em;
}

/* 2 column layout for middle text */
#c-main-text {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: 4.16666666666667%;
  margin-top: 8.33333333333333%;
}

/* Columns */
.c-main-text__column {
  width: 50%;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
}

#u-main-text__column--right {
  margin-top: 11.5em;
}

/* Margin between columns */
#c-main-text div:first-child {
  margin-right: 2vw;
}

/* First column header */
h2 {
  font-size: 2.5em;
  font-weight: lighter;
}

/* iPhone image */
#c-iphone {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(0, -85%);
  width: 55.08333333333333%;
}

/* Column text (without the header) */
#c-main-text p {
  color: #adadad;
  line-height: 1.5;
}

/* BOTTOM BOXES */
#c-bottom-boxes section {
  color: #f2f2f2;
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

/* Box headers */
h3 {
  font-size: 2.2em;
  font-weight: normal;
}

.c-bottom-boxes__text p {
  margin: 0;
}

/* Box footer links */
.c-bottom-boxes__link {
  background-color: red;
  bottom: 0px;
  padding-bottom: 4.16666666666667%;
}

.c-bottom-boxes__link--even {
  padding-bottom: 10%;
}

.c-bottom-boxes__link a {
  font-weight: bold;
  display: inline;
  color: #f2f2f2;
  text-decoration: none;
}

.c-bottom-boxes__link a:hover {
  text-decoration: underline;
}

/* Below: further box configuration, size, backgrounds */
#c-bottom-boxes {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  max-width: 1200px;
}

#c-bottom-boxes section:nth-child(2n-1) {
  width: 58.33333333333333vw;
  max-width: 700px;
  height: 19vw;
  max-height: 228px;
  padding: 4.16666666666667%;
}

#c-bottom-boxes section:nth-child(2n) {
  width: 25vw;
  max-width: 300px;
  height: 19vw;
  max-height: 228px;
  padding: 4.16666666666667%;
}

#c-bottom-boxes section:nth-child(1) {
  background-image: url("../img/web/Web_0006_Rectangle-2.png");
}

#c-bottom-boxes section:nth-child(2) {
  background-image: url("../img/web/Web_0003_Rectangle-2.png");
}

#c-bottom-boxes section:nth-child(3) {
  background-image: url("../img/web/Web_0004_Rectangle-2.png");
}

#c-bottom-boxes section:nth-child(4) {
  background-image: url("../img/web/Web_0005_Rectangle-2.png");
}

/* FOR SMALLER SCREEN SIZES
  Change layout to 1 column */
@media screen and (max-width: 1320px) {
  html {
    line-height: 1.5;
  }

  #js-summary {
    background-size: cover;
    height: 80vw;
  }

  #js-summary__text-container div {
    padding-left: 5%;
    width: 60%;
  }

  #c-iphone {
    transform: translate(-10%, -80%);
  }

  #c-main-text {
    flex-direction: column;
  }

  .c-main-text__column {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
  }

  #u-main-text__column--right {
    margin-top: 0;
  }

  #c-bottom-boxes {
    flex-flow: column;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
  }

  #c-bottom-boxes section:nth-child(n) {
    width: 90%;
    padding: 5%;
    margin: 0;
    height: auto;
  }

  .c-bottom-boxes__link--even {
    padding-bottom: 4.16666666666667%;
  }
}

@media screen and (max-width: 800px) {
  html {
    font-size: 8px;
  }

  #c-navbar-list {
    display: none;
  }
}
